h1{
    color: #333;
    text-align: center;
    margin-top: 0.8em;
    margin-bottom: 0em;
}

body{
    background-color: #DFCFBE;
    text-align: center;
}

.btnNombre{
    margin-left: 0.8em;
}

button{
    border: 1px solid #333;
    border-radius: 0;
    cursor: pointer;
}

.mainBotones{
    display: flex;
    gap: 2em;
    margin: 1em auto 1.2em auto;
    justify-content: center;
}

p{
    margin-bottom: 1.2em;
}

.entrada{
    width: 2em;
    height: 2em;
    font-size: 1.5em;
}


.fila{
    display: flex;
    justify-content: center;
}